################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
*.sqlite
/.vs
/workshop.TodoList/src/TodoList/.vs/TodoList
/workshop.TodoList/src/TodoList/TodoList.WebApi/bin/Debug/net6.0
/workshop.TodoList/src/TodoList/TodoList.WebApi/obj/Debug/net6.0
/workshop.TodoList/src/TodoList/TodoList.WebApi/obj
/.vs/Meetup-Azure-Microsoft-365-Community/v17
/.vs
/workshop.TodoList/src/.vs/workshop.TodoList
/workshop.TodoList/src/obj
/workshop.TodoList/src/TodoList.Application/obj
/workshop.TodoList/src/TodoList.Application.UnitTests/bin/Debug
/workshop.TodoList/src/TodoList.Application.UnitTests/obj
/workshop.TodoList/src/TodoList.Database/bin/Debug
/workshop.TodoList/src/TodoList.Database/Docker/mssql-tools/obj/Docker
/workshop.TodoList/src/TodoList.Database/Docker/obj/Docker
/workshop.TodoList/src/TodoList.Database/obj/Debug
/workshop.TodoList/src/TodoList.Domain/obj
/workshop.TodoList/src/TodoList.Domain.UnitTests/bin/Debug
/workshop.TodoList/src/TodoList.Domain.UnitTests/obj
/workshop.TodoList/src/TodoList.Infrastructure/obj
/workshop.TodoList/src/TodoList.Infrastructure.UnitTests/obj
/workshop.TodoList/src/TodoList.SharedKernel.Repository/bin/Debug/netstandard2.0
/workshop.TodoList/src/TodoList.SharedKernel.Repository/obj
/workshop.TodoList/src/TodoList.WebApi/obj
/workshop.TodoList/src/TodoList.Database/TodoList.Database.dbmdl
/workshop.TodoList/src/TodoList.Database/TodoList.Database.jfm
