################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Meetup-Azure-Microsoft-365-Community/v17
/.vs
